/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: #FF0070;
  --header-elements-color: #FF0070;
  --cover-text-color: #DB00FF;
  --text-color: #F1B2CE;
  --background-color: #000028;
  --accent-text-color: #000028;
  --menu-hover-color: rgba(255, 0, 112, 0.4);
  --header-background-image: url("../images/cover-image-dark.png");
  --section-title-color: #FF0070;
  --content-title-color: #000028;
  --decorated-icon-display: block;
}

/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
@media (prefers-color-scheme: dark) {
  .page.theme_auto {
    --accent-color: #FF0070;
    --header-elements-color: #FF0070;
    --cover-text-color: #DB00FF;
    --text-color: #F1B2CE;
    --background-color: #000028;
    --accent-text-color: #000028;
    --menu-hover-color: rgba(255, 0, 112, 0.4);
    --header-background-image: url("../images/cover-image-dark.png");
    --section-title-color: #FF0070;
    --content-title-color: #000028;
    --decorated-icon-display: block;
  }
}
